*{
	margin: 0;
	padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

a{
	text-decoration: none;
}
.header{
	
	text-align: center;
	background-color: tomato;
	padding-top: 30px;
	padding-bottom: 30px;

}
.header ul li{
	list-style: none;
	display: inline-block;
	margin: 0 15px;
	
}
 

.header ul li a{
	color: white;
	font-size: 30px;
}
.header ul li a:hover{
	color: tomato;
}
.newsletter{
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #f5f5f5;
	text-align: center;
}
.container{
	width: 1140px;
	margin: auto;
}
.newsletter h1{
	font-size: 52px;
	color: #2F323A ;
	font-weight: 600;
	margin-bottom: 20PX;
	font-family: 'Roboto', sans-serif;
}
.newsletter p{
	font-size: 20px;
	margin-bottom: 20px;
	font-family: 'Poppins', sans-serif;
}
.input-1{
	width: 15%;
	padding: 15px;
	background: transparent;
	border: 1px solid black;


}
.input-2{
	width: 20%;
	padding: 15px;
	background: transparent;
	border: 1px solid black;
}

.input-3{
	width: 10%;
	padding: 15px;
	background-color: black;
	border: 1px solid black;
	color:white;
}
.input-3:hover{
	background-color: tomato; 
	border: 1px solid tomato;
	cursor: pointer;

	}
.lol{
	
	text-align: center;
}
.lol ul li{
	list-style: none;
	display: inline-block;
	margin: 0 15px;
	
}
 
.company{
	padding-top: 60px;
	height: 507px;
	padding-bottom: 60px;
	background-color: #EEEEEE;
	text-align: center;
}
.container{
	width: 1140px;
	margin: auto;
}
.company h1{
	font-size: 42px;
font-family: 'Roboto', sans-serif;
margin-bottom: 15px;
font-weight: 700;
color: #2a323a !important;
}
.company p{
	font-family: 'Poppins', sans-serif;
margin-bottom: 30px;
font-size: 18px;
line-height: 30px;
color: #cecece;
}
.input-0{
	width: 26%;
	padding: 17px;
	background: transparent;
	border: 1px solid black;
	margin: 8px;


}
.input-4{
	width: 26%;
	padding: 17px;
	background: transparent;
	border: 1px solid black;
	margin: 8px;
}
.input-5{
	width: 26%;
	padding: 17px;
	background: transparent;
	border: 1px solid black;
	margin: 8px;
}
.input-6{
	width: 26%;
	padding: 17px;
	background: transparent;
	border: 1px solid black;
	margin: 8px;
}
textarea {
    color: #ececec;
    width: 55.5%;
    padding: 15px;
    height: 250px;
    margin-bottom: 25px;
    background: transparent;
    border: 1px solid rgba(0,0,0,.9);
   }


.footer{
	background-color: #000;
	height: 290px;
	padding: 80px 0px;
}
.mal h5{
	color: #FFFFFF ;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 20px;

}
.menu ul li{
	list-style: none;
}

.menu ul li a{
	color: #cecece;

	font-size: 16px;
	font-family: 'Poppins', sans-serif;
	line-height: 26px;
}
.nal{
	display: flex;
	justify-content: space-around;
}
hr{
	margin: 40px 0px;
}
.lala li{
	list-style: none;
	display: inline-block;
	border-right: 2px solid #cecece;
	padding-right: 13px;
	margin-right: 13px
}
.lala li a{
	color: #cecece;
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
	line-height: 26px;

}
.lala p{
	color: #cecece;
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
	line-height: 26px;
	margin: 10px 0px;
}
